#This is a template application properties file, which serves as a basis for a overriding application.properties file. Which is generated during some initialization.
blockid.identitymanager.publickey.base64=pubkey_template
blockid.identitymanager.privatekey.base64=privkey_template